/*

=> Typography

logo-font: Ranchers
font-family: 'Roboto Mono', monospace;

=> Colors used

Text Color (Gray): #374349;
Body Color (Blue): #64e5f6;

 */

.page-header__item {
    width: 200px;
}

body {
    background-color: white;
    color: #374349;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    position: relative;
    padding-bottom: 95px;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.pokemon-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px 25px;
}

.button-class {
    background-color: white;
    border: none;
    color: white;
    font-family: inherit;
    padding: 16px 32px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: #374349;
    border: 2px solid #374349;
    width: 100%;
}

.button-class:hover {
    background-color: #E8534F;
    color: white;
}

.popup {
    width: 200px;
    background: #E8534F;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    display: none;
}

.popup.is-visible {
    display: block;
}